pipe/*.gtkw
pipe/*.vcd
pipe/target
pipe/wave
*.vcd
*.gtkw
/wave
/target
/seq
/test
pipe-predictor/out.svg
pipe-predictor/output.json
pipe-predictor/*.gtkw
pipe-predictor/*.vcd
pipe-predictor/target
pipe-predictor/wave
pipe-predictor-cache/out.svg
pipe-predictor-cache/output.json
pipe-predictor-cache/*.gtkw
pipe-predictor-cache/*.vcd
pipe-predictor-cache/target
pipe-predictor-cache/wav